:root {
  /* Colors */
  --main-color: #383614;
  --background-color: #dbf4ad;
}

@font-face {
  font-family: 'Readex-Pro';
  src: url('assets/Readex-Pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'ReadEx-Pro', Arial;
}

body {
  background-color: var(--background-color);
  color: var(--main-color);
}

.placement-btn::first-letter {
  text-transform: capitalize;
}

.boards > * {
  width: 300px;
  height: 300px;

  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);

  border: 4px solid var(--main-color);
  border-radius: 2%;

  background-color: var(--main-color);

  &.player-1-primary {
    animation: ease-in-out 1s slidein;
  }

  button {
    background-color: ghostwhite;
    border: 1px solid;

    transition: ease 0.2s;

    &:not(.player-1-primary *, [class]) {
      cursor: pointer;
    }

    &.ghost,
    &.miss {
      background-color: #5d89ba;
    }

    &.ghost.ship-present {
      /* background-color: #e25822; */
    }

    &.ship-present {
      background-color: #95dc56;
      border-radius: 10px;
    }

    &.ghost.ship-present,
    &.invalid:not(.ship-present),
    &.hit,
    &.sunk {
      background-color: #e25822;
      border-radius: 10px;
    }

    &.invalid:not(.ship-present) {
      animation: 0.3s error-shake;
    }

    &.sunk {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 33 32'%3E%3Cpath fill='%2E2E0F' d='m24.778 21.42l-5.502-5.503l5.5-5.502l-2.827-2.83l-5.503 5.502l-5.502-5.502l-2.828 2.83l5.5 5.502l-5.5 5.502l2.83 2.828l5.5-5.502l5.5 5.502z'/%3E%3C/svg%3E");
      /* Source: https://icon-sets.iconify.design/raphael/cross/ */
      background-position: center;
      border-radius: 15px;
      border-color: var(--main-color);
    }
  }
}

.ships-to-place-list {
  display: grid;
  row-gap: 10px;
}

.hidden {
  display: none;
}

@keyframes slidein {
  from {
    transform: translateY(10px);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
  }
}

@keyframes error-shake {
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

button:not(.boards *) {
  border: none;

  padding: 5px;

  border-radius: 3px;

  font-size: 1.2rem;
  color: ghostwhite;

  background-color: var(--main-color);

  &:hover,
  &:focus-visible {
    cursor: pointer;
    color: var(--background-color);
  }
}
