:root {
  /* Colors */
  --main-color: #383614;
  --background-color: #dbf4ad;
}

@font-face {
  font-family: 'Readex-Pro';
  src: url('assets/Readex-Pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'ReadEx-Pro', Arial;
}

menu {
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0;
  height: 100dvh;

  background-color: var(--background-color);
  color: var(--main-color);
}

h1 {
  text-align: center;
  margin: 10px 0;
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  width: 300px;
  height: 300px;

  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);

  border: 4px solid var(--main-color);
  border-radius: 2%;

  background-color: var(--main-color);

  button {
    background-color: ghostwhite;
    border: 1px solid;

    transition: ease 0.2s;

    &:not(.player-1-primary *, [class]) {
      cursor: pointer;
    }

    &.miss {
      background-color: #5d89ba;
    }

    &.ship-present,
    &.ghost {
      background-color: #95dc56;
      border-radius: 10px;
    }

    &.ghost.ship-present,
    &.invalid:not(.ship-present),
    &.hit,
    &.sunk {
      background-color: #e25822;
      border-radius: 10px;
    }

    &.invalid:not(.ship-present) {
      animation: 0.3s error-shake;
    }

    &.sunk {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 33 32'%3E%3Cpath fill='%2E2E0F' d='m24.778 21.42l-5.502-5.503l5.5-5.502l-2.827-2.83l-5.503 5.502l-5.502-5.502l-2.828 2.83l5.5 5.502l-5.5 5.502l2.83 2.828l5.5-5.502l5.5 5.502z'/%3E%3C/svg%3E");
      /* Source: https://icon-sets.iconify.design/raphael/cross/ */
      background-position: center;
      border-radius: 15px;
      border-color: var(--main-color);
    }
  }
}

.prepare-game {
  @media (min-width: 768px) {
    flex-direction: row;
    gap: 50px;
  }

  /* Show flip animation on board reroll */
  &:has(.reroll) {
    .player-1-primary {
      animation: ease 0.5s flip;
    }
  }

  .placement {
    display: flex;
    flex-direction: column;
    text-align: center;

    .remove-ship-btn,
    .play-btn {
      margin-top: 20px;
      max-width: 200px;
      align-self: center;
    }

    .placement-btn::first-letter {
      text-transform: capitalize;
    }

    .ships-to-place-list {
      display: grid;
      row-gap: 10px;
      justify-items: center;

      button {
        width: 250px;
      }
    }
  }
}

.ongoing-game {
  display: grid;
  grid-template-areas:
    'player-board-header'
    'player-1-primary'
    'tracking-board-header'
    'player-1-tracking';

  gap: 10px;
  column-gap: 50px;
  justify-items: center;

  .player-1-primary {
    width: 180px;
    height: 180px;
  }

  .player-board-header {
    grid-area: player-board-header;
  }

  .tracking-board-header {
    grid-area: tracking-board-header;
  }

  .player-1-primary {
    grid-area: player-1-primary;
  }

  .player-1-tracking {
    grid-area: player-1-tracking;
  }

  h3 {
    margin: 0;
  }

  @media (min-width: 768px) {
    grid-template-areas:
      'player-board-header tracking-board-header'
      'player-1-primary player-1-tracking';

    .player-1-primary {
      width: 250px;
      height: 250px;
    }
  }
}

button:not(.board *) {
  border: none;

  padding: 5px;

  border-radius: 3px;

  font-size: 1.2rem;
  color: ghostwhite;

  background-color: var(--main-color);

  &:hover,
  &:focus-visible {
    cursor: pointer;
    color: var(--background-color);
  }

  &[disabled] {
    background-color: ghostwhite;
    color: var(--main-color);
    cursor: not-allowed;
  }
}

/* == Animations == */

@keyframes slidein {
  from {
    transform: translateY(10px);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
  }
}

@keyframes flip {
  from {
    transform: rotateY(180deg);
    opacity: 0;
  }
}

@keyframes error-shake {
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
